.container {
  border: 1px solid #d3d3d3;
  width: 15%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

@media (max-width: 768px) {
  .container {
    width: 50%;
    height: 90%;
  }
}

.image {
  cursor: pointer;
  width: 100%;
  max-width: 88px;
  margin: 0px auto;
  padding: 2px;
  height: 67%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.contentContainer {
  background-color: #ccc;
  height: 50px;
}

.subContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.title {
  display: flex;
}

.content {
  display: flex;
  justify-content: space-between;
}

.iconContainer {
  display: flex;
  width: 100%;
  margin-right: 5px;
  justify-content: flex-end;
  cursor: pointer;
}

.subTitle {
  font-size: 12px;
  color: #000;
}

.heart {
  color: red;
}
